<link rel="stylesheet" type="text/css" href="__STATIC__/plugins/dropzone/dropzone.min.css">
<style>
    .file-thumbnail {
        max-height: 64px;
        max-width: 64px;
    }
    .layui-layer-iframe{
        max-width: 650px;
        max-height: 550px;
    }
</style>
<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-body">
                <form class="form-inline" name="searchForm" id="searchForm" action="" method="GET">
                    <div class="form-group">
                        <input value="{$keywords ? $keywords : '' ;}"
                               name="keywords" id="keywords" class="form-control input-sm" placeholder="输入关键词查询">
                    </div>
                    <div class="form-group">
                        <select name="file_type" id="file_type" class="form-control input-sm">
                            <option value="0">文件类型</option>
                            <option value="1" {if isset($file_type) && $file_type==1}selected{/if} >图片</option>
                            <option value="2" {if isset($file_type) && $file_type==2}selected{/if} >文档</option>
                            <option value="3" {if isset($file_type) && $file_type==3}selected{/if} >压缩文件</option>
                            <option value="4" {if isset($file_type) && $file_type==4}selected{/if} >音频</option>
                            <option value="5" {if isset($file_type) && $file_type==5}selected{/if} >视频</option>
                            <option value="6" {if isset($file_type) && $file_type==6}selected{/if} >其他</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-sm btn-primary" type="submit"><i class="fa fa-search"></i> 查询
                        </button>
                    </div>
                    <div class="form-group">
                        <button onclick="clear_form()" class="btn btn-sm btn-default" type="button"><i
                                class="fa fa-eraser"></i> 清空查询
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-header">
                <a class="btn btn-danger btn-sm AjaxButton" title="批量删除，谨慎使用" data-id="checked" data-url="del.html">删除</a>
                <a class="btn btn-default btn-sm" data-toggle="modal"
                   data-target="#upload-modal">
                    <i class="fa fa-upload"></i>上传文件
                </a>
            </div>
            <div class="box-body table-responsive">
                <table id="datalist" class="table table-hover table-bordered datatable" width="100%">
                    <thead>
                    <tr>
                        <th><input type="checkbox" id="data-checkall" onclick="check_all(this)" class="checkbox" placeholder="全选/取消"></th>
                        <th>文件ID</th>
                        <th>文件名称</th>
                        <th>文件预览</th>
                        <th>文件大小</th>
                        <th>文件类型</th>
                        <th>上传时间</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {foreach name="list" item="item"}
                    <tr>
                        <td><input type="checkbox" onclick="check_this(this)" name="data-checkbox" data-id="{$item.id}"
                                   class="checkbox data-list-check" value="{$item.id}" placeholder="选择/取消"></td>
                        <td>{$item.id}</td>
                        <td>{$item.original_name}</td>
                        <td class="text-center"><span><img src="{$item.thumbnail}" class="file-thumbnail"></span></td>
                        <td>{$item.size}</td>
                        <td>{$item.file_type}</td>
                        <td>{$item.create_time}</td>
                        <td class="td-do">
                            <a title="查看" data-id="{$item.id}" data-url="view" data-confirm="2" data-type="2" class="AjaxButton btn btn-default btn-xs">
                                <i class="fa fa-eye"></i>
                            </a>
                            <a title="下载" target="_blank" href="download.html?id={$item.id}" class="btn btn-success btn-xs">
                                <i class="fa fa-download"></i>
                            </a>
                            <a class="btn btn-danger btn-xs AjaxButton" title="删除" data-id="{$item.id}" data-url="del.html">
                                <i class="fa fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                    {/foreach}
                    </tbody>
                </table>
            </div>
            {include file="template/data_footer" /}
        </div>

    </div>
</div>

<div class="modal" id="upload-modal" tabindex="-1" role="dialog" aria-labelledby=updateModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">上传文件</h4>
            </div>
            <div class="modal-body">
                <form class="dropzone" id="dropzone" style="border: 2px dashed #d2d6de;">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal" id="upload-finished">确定</button>
            </div>
        </div>
    </div>
    {:token()}
</div>
<script type="text/javascript" src="__STATIC__/plugins/dropzone/dropzone.min.js"></script>
<script type="text/javascript">
    $('#upload-finished').click(function () {
        window.location.reload();
    });

    Dropzone.options.dropzone = {
        url: "upload.html",
        method: "post",
        paramName: "file",
        headers: {
            "__token__": $("input[name='__token__']").val()
        },
        maxFilesize: 2048,
        maxFiles: 50,
        acceptedFiles: ".jpg,.gif,.png,.bmp,.svg,.txt,.doc,.docx,.xls,.xlsx,.rar,.zip,.7z,.tar",
        dictMaxFilesExceeded: "您每次最多只能上传5个文件！",
        dictFileTooBig: "上传文件太大,无法上传!",
        dictInvalidFileType: "你不能上传该类型文件,文件类型只能是*.jpg,*.gif,*.png*.doc,*.docx,*.xlsx,*.rar,*.zip,*.7z,*.tar。",
        dictResponseError: "上传文件出错,请联系管理员!",
        dictDefaultMessage: "拖动文件到此或点击上传",
        sending: function (file, xhr, formData) {
            if (xhr.status !== 200) {
                console.log('fail???');
            }
        },
        accept: function (file, done) {
            done();
        },
        success: function (file, result) {
            console.log(result);
            layer.msg(result.msg,{
                icon: result.code ? 1 : 2
            });
        }
    };
</script>