<div class="row">
    <div class="col-lg-3 col-xs-6">
        <div class="small-box bg-aqua">
            <div class="inner">
                <h3>{$adminuser_count}</h3>
                <p>后台用户</p>
            </div>
            <div class="icon">
                <i class="fa fa-user"></i>
            </div>
            <a href="{:url('admin_user/index')}" class="small-box-footer">更多<i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <div class="col-lg-3 col-xs-6">
        <div class="small-box bg-green">
            <div class="inner">
                <h3>{$admin_log_count}</h3>
                <p>操作日志</p>
            </div>
            <div class="icon">
                <i class="fa fa-keyboard-o"></i>
            </div>
            <a href="{:url('admin_log/index')}" class="small-box-footer">更多<i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <div class="col-lg-3 col-xs-6">
        <div class="small-box bg-yellow">
            <div class="inner">
                <h3>{$syslog_count}</h3>
                <p>错误日志</p>
            </div>
            <div class="icon">
                <i class="fa fa fa-info-circle"></i>
            </div>
            <a href="{:url('syslog/index')}" class="small-box-footer">更多<i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <div class="col-lg-3 col-xs-6">
        <div class="small-box bg-red">
            <div class="inner">
                <h3>{$admin_menu_count}</h3>
                <p>菜单数量</p>
            </div>
            <div class="icon">
                <i class="fa fa-list"></i>
            </div>
            <a href="{:url('admin_menu/index')}" class="small-box-footer">更多<i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-body">
                本页面为简单展示页面示例，可根据实际情况自行调整
            </div>
        </div>
    </div>
</div>