<div class="row">
    <div class="pad margin no-print">
        <div class="callout callout-info" style="margin-bottom: 0!important;">
            <h4><i class="fa fa-info"></i> 你好,{$webData['user_info']['nickname']}:</h4>
            欢迎来到后台管理系统，左侧为菜单区域，右侧为功能区。
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-header">
                <h3 onclick="test()">后台介绍</h3>
            </div>
            <div class="box-body table-responsive">
                <div class="content body">
                    <section id="introduction">
                      {$readme}
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">访问信息</h3>
            </div>
            <div class="box-body table-responsive no-padding">
                <table class="table table-hover table-bordered">
                    <tbody>
                    <tr>
                        <td>您的系统</td>
                        <td>{$sys.os}</td>
                        <td>浏览器</td>
                        <td>{$sys.browser}</td>
                    </tr>
                    <tr>
                        <td>ip地址</td>
                        <td>{$sys.ip}</td>
                        <td>城市</td>
                        <td>{$sys.city}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script>

    function test() {
        layer.msg('测试弹出，你好好好', {
            icon: 9
        });
    }
</script>