<div class="row">
    <div class="col-md-12">
        <div class="box">
            {include file="template/data_header" /}
            <div class="box-body table-responsive">
                <table class="table table-hover table-bordered datatable" width="100%">
                    <thead>
                    <tr>
                        <th>
                            <input id="data-checkall" type="checkbox" onclick="check_all(this)" class="checkbox" placeholder="全选/取消">
                        </th>
                        <th>ID</th>
                        <th>菜单名称</th>
                        <th>url</th>
                        <th>父级ID</th>
                        <th>图标</th>
                        <th>排序</th>
                        <th>状态</th>
                        <th>日志记录方式</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {$menu_list}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>