<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-body">
                <div class="col-md-6">
                    <form class="form-inline" action="" method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            <input type="file" name="export" placeholder="导入" class="input-sm">
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary btn-sm" type="submit"><i class="fa fa-upload"></i> 导入
                            </button>
                        </div>
                    </form>
                </div>
                <div class="col-md-6">
                    <div class="form-group margin">
                        <a href="excel.html?act=download" target="_blank" class="btn btn-info btn-sm">
                            <i class="fa fa-download"></i>
                            导出
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">导入excel示例参考图</h3>
            </div>
            <div class="box-body">
                <img src="__STATIC__/images/excel_import_example.png">
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">{$webData['title']}</h3>
                {if isset($total)}
                共{$total}条记录
                {/if}
            </div>
            <div class="box-body">
                <div class="col-sm-12">
                    <div class="row">
                        <table class="table table-hover table-bordered datatable">
                            <tbody>
                            <tr>
                                <th>ID</th>
                                <th>姓名</th>
                                <th>年龄</th>
                                <th>性别</th>
                                <th>城市</th>
                            </tr>
                            {foreach name=$item item='list'}
                            <tr>
                                <td>{$list.id}</td>
                                <td>{$list.name}</td>
                                <td>{$list.age}</td>
                                <td>{$list.sex}</td>
                                <td>{$list.city}</td>
                            </tr>
                            {/foreach}
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div>
                            <div class="dataTables_paginate paging_simple_numbers" id="example1_paginate">
                                {$page}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>