<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">{$webData['title']|default=''}</h3>
            </div>
            <div class="box-body">
                <div class="row margin bg-gray " style="padding-top: 15px">
                    <div class="col-md-12">
                    {foreach name='list' id='item'}
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="info-box" onclick="window.location.href='{:url($item.url)}'">
                            <span class="info-box-icon {:array_rand($colors)}"><i class="fa {$item.icon}"></i></span>
                            <div class="info-box-content">
                                <span class="info-box-text">{$item.title}</span>
                                <span class="info-box-number">点击体验</span>
                            </div>
                        </div>
                    </div>
                    {/foreach}
                    </div>
                </div>
            </div>
            <div class="box-footer">
            </div>
        </div>
    </div>
</div>