<div class="row">
    <div class="col-md-12">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">MarkDown预览</h3>
            </div>
                <div class="box-body">
                    {$content}
                </div>
            <div class="box-footer">
                <a href="javascript:history.back(-1);" class="btn btn-default">
                    <i class="fa fa-arrow-left"></i>
                    返回
                </a>
            </div>
        </div>
    </div>
</div>