<script src="__STATIC__/plugins/layer/layer.js"></script>
<div class="row">
    <div class="col-md-12">
        <div class="box">
            {include file="template/form_header" /}
            <form id="dataForm" class="dataForm form-horizontal" method="post" onsubmit="return create_qrcode()" enctype="multipart/form-data">
                <div class="box-body">
                    <div class="fields-group">
                        <div class="form-group">
                            <label for="content" class="col-sm-2 control-label">内容</label>
                            <div class="col-sm-8">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-pencil"></i></span>
                                    <input  name="content" id="content" maxlength="210" class="form-control" placeholder="请输入文字或网址">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {include file="template/form_footer" /}
            </form>
        </div>
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">生成结果</h3>
            </div>
            <div class="box-body">
                <div style="text-align: center">
                    <img  src="" id="result">
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function create_qrcode() {
        var content = $("#content").val();
        $.ajax({
            url: '',
            type: "post",
            data: {
                content:content
            },
            dataType: 'json',
            cache: false,
            async:false,
            success: function (result) {
                console.log(result);
                if(result.code==1){
                    $("#result").attr('src',result.data.qrcode+"?"+img_name_random());
                }else {
                    toastr.error(result.msg);
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                toastr.error("系统异常，请稍后重试");
            }
        });

        return false;
    }
    //图片后缀随机数
    function img_name_random() {
        var rand_one = parseInt(100 * Math.random());
        var rand_two = parseInt(100 * Math.random());
        return String(rand_one) + String(rand_two);
    }
</script>
