<div class="row">
    <div class="col-md-12">
        <div class="box">
            {include file="template/form_header" /}
            <!-- /.box-header -->
            <form id="dataForm" class="dataForm form-horizontal" action="" method="post" enctype="multipart/form-data">
                <div class="box-body">
                    <div class="fields-group">
                        <div class="form-group">
                            <label for="mobile" class="col-sm-2 control-label">发送短信</label>
                            <div class="col-sm-10 col-md-4">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-phone"></i></span>
                                    <input id="mobile" name="mobile" type="tel" placeholder="手机号" maxlength="11"
                                           class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {include file="template/form_footer" /}
            </form>
        </div>
    </div>
</div>