<div class="row">
    <div class="col-md-12">
        <div class="box box-info">
            <div class="box-header with-border">
                <h2>文章预览页面</h2>
                <div class="box-tools pull-right">
                    <button type="button" onclick="window.opener=null;window.open('','_self');window.close();" class="btn btn-box-tool"><i class="fa fa-times"></i>关闭页面</button>
                </div>
            </div>
            <div class="box-body">
                <div class="post">
                    {$content}
                </div>
            </div>
        </div>
    </div>
</div>