<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">{$webData['title']}</h3>
                {if isset($total)}
                共{$total}个表
                {/if}
            </div>
            <div class="box-body table-responsive">
                <table id="datalist" class="table table-hover table-bordered datatable" width="100%">
                    <thead>
                    <tr>
                        <th>表名</th>
                        <th>记录数</th>
                        <th>表大小</th>
                        <th>创建时间</th>
                        <th>说明</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {foreach name="list" item="item"}
                    <tr>
                        <td>{$item.name}</td>
                        <td>{$item.rows}</td>
                        <td>{$item.data_length|format_size}</td>
                        <td>{$item.create_time}</td>
                        <td>{$item.comment}</td>
                        <td class="td-do">
                            <a  data-data='{"name":"{$item.name}"}' data-url="view.html" data-confirm="2" data-type="2" class="AjaxButton btn btn-default btn-xs" title="查看详情">
                                <i class="fa  fa-info-circle"></i>
                            </a>
                            <a data-data='{"name":"{$item.name}"}' data-go="1" data-url="optimize.html" data-confirm="2" class="AjaxButton btn btn-warning btn-xs" title="优化表">
                                <i class="fa  fa-refresh"></i>
                            </a>
                            <a data-data='{"name":"{$item.name}"}' data-go="1" data-url="repair.html" data-confirm="2" class="AjaxButton btn btn-primary btn-xs" title="修复表" >
                                <i class="fa  fa-circle-o-notch"></i>
                            </a>
                           <!-- |
                            <a data-toggle="modal" data-target="#modal"
                               class="btn btn-success btn-sm margin"
                               title="备份表">
                                <i class="fa   fa-share"></i>
                                备份表
                            </a>
                            <a data-toggle="modal" data-target="#modal"
                               class="btn btn-warning btn-sm margin"
                               title="还原表">
                                <i class="fa  fa-reply"></i>
                                还原表
                            </a>-->
                        </td>
                    </tr>
                    {/foreach}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>