{__NOLAYOUT__}
<link rel="stylesheet" href="__STATIC__/css/app.min.css">
<script src="__STATIC__/js/app.min.js"></script>
<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">表名：<span class="text-blue">{$table}</span>&nbsp;主键：<span class="text-yellow">{$pk}</span></h3>
            </div>
            <div class="box-body table-responsive">
                <table id="datalist" class="table table-hover table-bordered datatable" width="100%">
                    <thead>
                    <tr>
                        <th>字段名</th>
                        <th>类型</th>
                    </tr>
                    </thead>
                    <tbody>
                    {foreach name='fields' item='l'}
                    <tr>
                        <td>
                            {$l.name}
                        </td>
                        <td>
                            {$l.type}
                        </td>
                    </tr>
                    {/foreach}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>