<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">上次操作参考</h3>
            </div>
            <div class="box-body table-responsive no-padding">
                <table class="table table-bordered table-striped">
                    <tbody>
                    <tr>
                        <th colspan="4" class="text-bold text-center">日志摘要</th>
                    </tr>
                    <tr>
                        <td class="text-bold">日志ID</td>
                        <td>{$pre_log.id}</td>
                    </tr>
                    <tr>
                        <td class="text-bold">操作用户</td>
                        <td>{$pre_log->adminUser->name}</td>
                    </tr>
                    <tr>
                        <td class="text-bold">操作</td>
                        <td>{$pre_log.title}</td>
                    </tr>
                    <tr>
                        <td class="text-bold">url</td>
                        <td>{$pre_log.log_url}</td>
                    </tr>
                    <tr>
                        <td class="text-bold">类型</td>
                        <td>{$pre_log.log_type}</td>
                    </tr>
                    <tr>
                        <td class="text-bold">ip</td>
                        <td>{$pre_log.log_ip}</td>
                    </tr>
                    <tr>
                        <td class="text-bold">日期</td>
                        <td>{$pre_log.create_time}</td>
                    </tr>

                    <tr style="border-top:2px solid #d2d6de;">
                        <th colspan="2" class="text-bold text-center">数据详情</th>
                    </tr>
                    {foreach name="pre_log_data" item="list" key="data"}
                    <tr>
                        <td  class="text-bold">{$data}</td>
                        <td colspan="3">{$list}</td>
                    </tr>
                    {/foreach}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>