<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-header">
                <div>
                    <a title="新增" data-id="" class="AjaxButton btn btn-primary btn-sm" data-url="add.html">
                        新增
                    </a>
                </div>
            </div>
            <div class="box-body table-responsive">
                <table id="datalist" class="table table-hover table-bordered datatable" width="100%">
                    <thead>
                    <tr>
                        <th>文件名</th>
                        <th>备份时间</th>
                        <th>大小</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {foreach name="list" item="item"}
                    <tr>
                        <td>{$item.name}</td>
                        <td>{$item.time}</td>
                        <td>{$item.size}</td>
                        <td class="td-do">
                            <a data-url="restore.html" data-data='{"name":"{$item.name}"}' class="AjaxButton btn btn-warning btn-xs" title="还原">
                                <i class="fa fa-mail-reply"></i>
                            </a>
                            <a target="_blank" href="download.html?name={$item.name}"
                               class="btn btn-default btn-xs" title="下载">
                                <i class="fa fa-download"></i>
                            </a>
                            <a data-url="del.html" data-data='{"name":"{$item.name}"}'
                               class="AjaxButton btn btn-danger btn-xs">
                                <i class="fa fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                    {/foreach}
                    </tbody>
                </table>
            </div>
            <div class="box-footer">
                <div>
                    <div class="dataTables_paginate paging_simple_numbers">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>