<div class="row">
    <div class="col-md-12">
        <div class="box">
            {include file="template/data_header" /}
            <div class="box-body table-responsive">
                <table class="table table-hover table-bordered">
                    <tbody>
                    <tr>
                        <th>
                            <input type="checkbox" id="data-checkall" onclick="check_all(this)" class="checkbox" placeholder="全选/取消">
                        </th>
                        <th>ID</th>
                        <th>角色名</th>
                        <th>描述</th>
                        <th>是否启用</th>
                        <th>操作</th>
                    </tr>
                    {foreach name='list' item='item'}
                    <tr>
                        <td>
                            <input type="checkbox" onclick="check_this(this)" name="data-checkbox"
                                   data-id="{$item.id}" class="checkbox data-list-check" value="{$item.id}"
                                   placeholder="选择/取消">
                        </td>
                        <td>{$item.id}</td>
                        <td>{$item.name}</td>
                        <td>{$item.description}</td>
                        <td>{$item.status_text}</td>
                        <td class="td-do">
                            <a href="{:url('admin_group/access','id='.$item.id)}"
                               class="btn btn-warning btn-xs" title="授权">
                                <i class="fa fa-key"></i>
                            </a>
                            <a href="{:url('admin_group/edit','id='.$item.id)}"
                               class="btn btn-primary btn-xs" title="编辑">
                                <i class="fa fa-pencil"></i>
                            </a>
                            <a class="btn btn-danger btn-xs AjaxButton" title="删除" data-id="{$item.id}" data-url="del.html">
                                <i class="fa fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                    {/foreach}
                    </tbody>
                </table>
            </div>
            {include file="template/data_footer" /}
        </div>
    </div>
</div>