<!--{__NOLAYOUT__}-->
<link rel="stylesheet" href="__STATIC__/css/app.min.css">
<script src="__STATIC__/js/app.min.js"></script>
<div class="row">
    <div class="col-md-12">
        <div class="box">
            {$data->syslogTrace->trace|default=''}
        </div>
    </div>
</div>