{if $showDataHeader}
<div class="box-header">
    <div>
        {if $showDataHeaderAddButton}
        <a title="新增" class="btn btn-primary btn-sm" href="add.html">
            新增
        </a>
        {/if}
        {if $showDataHeaderDeleteButton}
        <a class="btn btn-danger btn-sm AjaxButton" title="批量删除，谨慎使用" data-id="checked" data-url="del.html">删除</a>
        {/if}
    </div>
</div>
{/if}