{if $showFormFooter}
<div class="box-footer">
    {:token()}
    <div class="col-sm-2">
    </div>
    <div class="col-sm-10 col-md-4">
        {if $showFormFooterSubmitButton}
        <div class="btn-group">
            <button type="submit" class="btn flat btn-info dataform-submit">
                {$sub_title|default='保存'}
            </button>
        </div>
        {/if}
        {if $showFormFooterResetButton}
        <div class="btn-group">
            <button type="reset" class="btn flat btn-default dataform-reset">
                重置
            </button>
        </div>
        {/if}
    </div>
</div>
{/if}