{if $showFormHeader}
<div class="box-header with-border">
    {if $showFormHeaderBackButton}
    <div class="btn-group">
        <a class="btn flat btn-sm btn-default form-history-back">
            <i class="fa fa-arrow-left"></i>
            返回
        </a>
    </div>
    {/if}
</div>
{/if}