<div class="row">
    <div class="col-md-12">
        <div class="box">
            {include file="template/data_header" /}
            <div class="box-body table-responsive">
                <table id="datalist" class="table table-hover table-bordered datatable" width="100%">
                    <thead>
                    <tr>
                        <th>
                            <input id="data-checkall" type="checkbox" onclick="check_all(this)" class="checkbox" placeholder="全选/取消">
                        </th>
                        <th>ID</th>
                        <th>分组</th>
                        <th>名称</th>
                        <th>代码</th>
                        <th>参数</th>
                        <th>说明</th>
                        <th>是否启用</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {foreach name="list" item="item"}
                    <tr>
                        <td>
                            <input type="checkbox" onclick="check_this(this)" name="data-checkbox"
                                   data-id="{$item.id}" class="checkbox data-list-check" value="{$item.id}"
                                   placeholder="选择/取消">
                        </td>
                        <td>{$item.id}</td>
                        <td>{$item.group_text}</td>
                        <td>{$item.name}</td>
                        <td>{$item.code}</td>
                        <td>{$item.content}</td>
                        <td>{$item.description}</td>
                        <td>{$item.status_text}</td>
                        <td>
                            <a href="edit.html?id={$item.id}"
                               class="btn btn-primary btn-xs" title="编辑">
                                <i class="fa fa-pencil"></i>
                            </a>
                            <a class="btn btn-danger btn-xs AjaxButton" title="删除" data-id="{$item.id}" data-url="del.html">
                                <i class="fa fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                    {/foreach}
                    </tbody>
                </table>
            </div>
            {include file="template/data_footer" /}
        </div>
    </div>
</div>